numpy==1.22.3
PyAudio==0.2.11
scikit-image==0.19.2
scipy==1.8.0
SpeechRecognition==3.8.1
wikipedia==1.4.0
wolframalpha==5.0.0
pyjokes==0.6.0
pyttsx3==2.90
selenium==4.1.3
webdriver-manager==3.5.4
requests==2.27.1
pyautogui==0.9.53
gTTS==2.2.4
playsound==1.3.0
nltk==3.6.7
tensorflow==2.6.2
google-api-python-client==